* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    cursor: url("/static/NORMAL\ SELECT.cur"), auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background: #041940 url(static/background/this.jpg) fixed;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    min-width: 50%;
    max-width: 70%;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.menu {
    width: 100%;
    display: grid;
    padding: 20px;
    border-radius: 10px;
    grid-template-columns: 1fr;
    background-color: #E6CDA5;
}

.title {
    color: #3b2a1d;
    font-size: 3rem;
    text-align: center;
    padding: 10px 0 0 50px;
}

.description{
    padding: 15px 20px 0px 20px;
    text-align: center;
    font-style: italic;
}

.title-holder {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.head {
    position: relative;
    height: 145px;
    background: transparent url(static/sword.gif) no-repeat 70% top; 
    color: #041940;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-column: 1 / -1;
}

.left-holder, .right-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6CDA5;
}

.right-holder{
    margin-left: 15px;
}

.right-side{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-title h3 {
    color: #463526;
}

.left-holder{
    margin-right: 15px;
}

.left-side{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-title{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-holder {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6CDA5;
    width: 100%;
}

.mid-title {
    color: #4d3825;
    margin: 0;
}

.mid-text {
    color: #5a4933;
    margin-top: 10px;
    text-align: left;
}

.bottom-links {
    grid-column: 1 / -1;
    text-align: center;
    padding: 10px;
}

.bottom-links p{
    color: #463526;
}

.navigation-test {
    background-color: black;

    position: fixed;
    bottom: 0;
    width: 100%;
}

.ul-controls-test {
    border-top: 30px solid transparent;
    border-image: url('/static/chain.png') 1000 10 repeat;
    margin-top: -20px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ul-controls-test li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-controls-test li h3 {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.6;
    font-family: 'Uncial Antiqua', serif;
    color: #ffffff;
    margin-bottom: 5px;
    user-select: none;
}

.ul-controls-test li img {
    display: block;
}

/* 
.ul-controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-controls li {
    margin: 0 15px;
    color: #2e1e0f;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
}

.ul-controls li a {
    cursor: url("/static/LINK\ SELECT.cur"), auto;
    text-decoration: none;
    color: #463526;
    font-weight: bold;
    padding: 5px;
    animation: text-related 0.5s ease-in-out infinite;
}

@keyframes text-related {
    0%{
        text-decoration: underline;
    }
    25%{
        text-decoration: none;
    }
    50%{
        text-decoration: underline;
    }
    75%{
        text-decoration: none;
    }
    100%{
        text-decoration: underline;
    }
}

.ul-controls li a:hover {
    color: #6b533f;
    text-decoration: underline;
    animation: none;
}

.ul-controls li::before {
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ul-controls li:hover::before {
    animation: pulse 0.2s infinite;
    content: "»";
}

@keyframes pulse {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
} */

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .left-holder, .right-holder {
        margin-bottom: 20px;
    }

    .ul-controls {
        flex-direction: column;
        align-items: center;
    }
}
