<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="images-styles.css">
</head>

<body>
    <aside class="sidebar">

    </aside>
    <div class=" main-content">

        <div class="image-grid">
            <div class="image-item">
                <img src="https://via.placeholder.com/300" alt="Image 1">
                <p class="image-title">Image 1</p>
            </div>

            <div class="image-item">
                <img src="https://via.placeholder.com/300" alt="Image 2">
                <p class="image-title">Image 2</p>
            </div>

            <div class="image-item">
                <img src="https://via.placeholder.com/300" alt="Image 3">
                <p class="image-title">Image 3</p>
            </div>

            <div class="image-item">
                <img src="https://via.placeholder.com/300" alt="Image 4">
                <p class="image-title">Image 4</p>
            </div>
        </div>
    </div>
    <aside class="sidebar">

    </aside>
</body>

</html>